<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='done.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Document</title>
</head>
<body>
  <div class="confirm-box">
    <i class="fa fa-check-circle" style="font-size:100px;color:rgb(14, 151, 14)"></i>
    <h1>Your tickets have been booked successfully</h1>
    <br>
    <h1>Enjoy your Movie!</h1>
    <h1>&#127871 &#127871 &#127871</h1>
  </div>
  
</body>
</html>